:root{
	--primary-font: 'Roboto', sans-serif;
	--secondary-font: 'Raleway', sans-serif;
	--primary-text-color-theme-light: #212121;;
	--secondary-text-color-theme-light: #757575;
	--primary-text-color-theme-dark: #FFFFFF;
	--secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
	--primary-background-color: #F5F5F5;
	--secondary-background-color: #F5F4FA ;
	--dark-bacrground-color: #2F303A;
	--accent-color:#2196F3;
}

body { 
	background-color: #F5F5F5;
	font-family: var(--primary-font);
}

button{
	cursor: pointer;
	font-family: inherit;
}

.link	{
	text-decoration: none;
} 

.list {
	list-style: none;
}

img  {
	display: block;
}

/* Верхня лінія */
header .page-logo{
	font-family: var(--primary-font);
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--accent-color);
}
.page-logo span {
	color: #000000;;
}

.menu-link{
font-family: var(--primary-font);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color-theme-light);
}

.contact-mail{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color-theme-light);
}

.contact-phone-number{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color-theme-light);
}

.contact-mail:hover,
.contact-phone-number:hover{
	color: var(--accent-color);
}

.contact-mail:focus,
.contact-phone-number:focus{
	color: var(--accent-color);
}

.menu-link:hover,
.head-modal-button {
	color: var(--accent-color);
}
.menu-link :focus,
.head-modal-button {
	color: var(--accent-color);
}

/* Шапка*/
.head{
	background-color: var(--primary-text-color-theme-light);
}

.head-title{
	font-family: var(--primary-font);
	font-weight: 900;
	font-size: 44px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primary-text-color-theme-dark);
}

.head-modal-button{
	background: #188CE8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-family: var(--primary-text-color-theme-dark);
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--primary-text-color-theme-dark);
}
/* Особливості */

.specific-title {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.title{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color:var(--primary-text-color-theme-light);
}

p{
	font-family: var(--primary-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color-theme-light);
}
/* Чим ми займаємося */
.description-title{
	font-family: var(--primary-font);
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color-theme-light);
}
/* Наша команда */
.team-section-title{
	font-family: var(--primary-text-color-theme-light);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color-theme-light);
}
.team-item >h3{
	font-family: var(--primary-font);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color-theme-light);
}
/* Підвал */

/* Портфоліо */





.footer-link:hover{
	color:var(--accent-color);
}
.footer-link:focus{
	color:var(--accent-color);
}